{% extends "auctions/layout.html" %}
{% block main %}
<div class="container my-4">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h2>Categories</h2>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        {% for category in categories %}
                            <li class="list-group-item">
                                <a href="{% url 'category-detail' category.id %}" class="text-decoration-none">{{ category.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
