{% extends "auctions/layout.html" %}

{% block main %}
<h2 class="mb-4">Active Listings</h2>
<div class="row row-cols-1 row-cols-md-2 g-4">
    {% for listing in listings %}
        <div class="col">
            <div class="card h-100">
                {% if listing.image %}
                    <a href="{% url 'listing-detail' pk=listing.id %}">
                        <img src="{{ listing.image.url }}" alt="{{ listing.title }}" class="card-img-top" style="width:20%; height:auto;">
                    </a>
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{% url 'listing-detail' pk=listing.id %}">{{ listing.title }}</a>
                    </h5>
                    <p class="card-text">{{ listing.description }}</p>
                    <p class="card-text">Starting Bid: ${{ listing.starting_bid }}</p>
                </div>
            </div>
        </div>
    {% empty %}
        <p class="col">No active listings found...</p>
    {% endfor %}
</div>
{% endblock %}