{% extends "auctions/layout.html" %}

{% block main %}
<h2>Active Listings</h2>

<article>
    {% for listing in listings %}
        <section>
            <h3>{{ listing.title }}</h3>
            <p>{{ listing.description }}</p>
            <p>Starting Bid: ${{ listing.starting_bid }}</p>
            {% if listing.image_url %}
                <img src="{{ listing.image_url }}" alt="{{ listing.title }}">
            {% endif %}
        </section>
    {% empty %}
        <p>No active listings found...</p>
    {% endfor %}
</article>
{% endblock %}