{% extends "auctions/layout.html" %}

{% block main %}
<section>
    <header>
        <h2>{{ listing.title }}</h2>
        <p>By {{ listing.creator }}</p>
        {% if request.user.is_authenticated %}
            {% if listing in request.user.watchlist.all %}
                <a href="{% url 'remove-from-watchlist' pk=listing.pk %}">Remove from Watchlist</a>
            {% else %}
                <a href="{% url 'add-to-watchlist' pk=listing.pk %}">Add to Watchlist</a>
            {% endif %}
        {% endif %}
    </header>
    <article>
        <p>{{ listing.description }}</p>
        <p>Category: {{ listing.category }}</p>
        <p>Starting Bid: ${{ listing.starting_bid }}</p>
        {% with highest_bid=listing.highest_bid %}
            {% if highest_bid %}
                <p>Current Bid: ${{ highest_bid.amount }} by {{ highest_bid.user.username }}</p>
            {% else %}
                <p>No bids yet.</p>
            {% endif %}
        {% endwith %}
        <p>Status: {{ listing.is_active|yesno:"Active,Closed" }}</p>
        {% if listing.image %}
                <img src="{{ listing.image.url }}" alt="{{ listing.title }}" class="listing-image">
        {% else %}
            <p>No image available</p>
        {% endif %}
    </article>
    {% if request.user.is_authenticated and listing.creator == request.user %}
    <footer>
        <form method="post" action="{% url 'close-bidding' listing.id %}">
            {% csrf_token %}
            <input type="submit" value="Close Bidding">
        </form>
        <a href="{% url 'listing-edit' pk=listing.pk %}">Edit</a>
        <a href="{% url 'listing-delete' pk=listing.pk %}">Delete</a>
    </footer>
    {% elif request.user.is_authenticated and listing.creator != request.user %}
        {% if listing.is_active %}
        <aside>
                <a href="{% url 'place-bid' listing.id %}" class="btn btn-primary">Place a Bid</a>
        </aside>
        {% endif %}
    {% endif %}
    <section>
        <h3>Bid History</h3>
        <ul>
            {% for bid in bids %}
                <li>{{ bid.user.username }} bid ${{ bid.amount }} on {{ bid.timestamp }}</li>
            {% endfor %}
        </ul>
    </section>
    
    <section>
        <h3>Comments</h3>
        <ul>
            {% for comment in comments %}
                <li>{{ comment.user.username }}: "{{ comment.text }}" <small>-- {{ comment.timestamp }}</small></li>
            {% endfor %}
        </ul>
    </section>
    
    <section>
        <h3>Add Comment</h3>
        <a href="{% url 'create-comment' pk=listing.pk %}" class="btn btn-primary">Comment</a>
    </section>
</section>
{% endblock %}
