{% extends "auctions/layout.html" %}

{% block main %}
<div class="container">
    <h2 class="my-4">Edit Listing</h2>
    <form method="post" action="{% url 'listing-edit' pk=listing.pk %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <label for="form.title.id_for_label" class="form-label">Title:</label>
            {{ form.title|add_class:"form-control" }}
        </div>
        <div class="mb-3">
            <label for="form.description.id_for_label" class="form-label">Description:</label>
            {{ form.description|add_class:"form-control" }}
        </div>
        <div class="mb-3">
            <label for="form.category.id_for_label" class="form-label">Category:</label>
            {{ form.category|add_class:"form-select" }}
        </div>
        <div class="mb-3">
            <label for="form.starting_bid.id_for_label" class="form-label">Starting Bid:</label>
            {{ form.starting_bid|add_class:"form-control" }}
        </div>
        <div class="mb-3">
            <label for="form.image_url.id_for_label" class="form-label">Image Upload:</label>
            {{ form.image|add_class:"form-control" }}
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
{% endblock %}
